<%= form_with(model: ishber) do |form| %>
  <% if ishber.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ishber.errors.count, "error") %> prohibited this ishber from being saved:</h2>

      <ul>
        <% ishber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 row">
    <%= form.label :title, class: "col-sm-2 col-form-label", style: "display: block" %>
    <div class="col-sm-10">
    <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :project_id, class: "col-sm-2 col-form-labe cl", style: "display: block" %>
    <div class="col-sm-10">
    <%= form.text_field :project_id, type: :hidden, class: "form-control" %>
    </div>
  </div>

  <div class="createbutton">
    <%= form.submit "Create Task",class:"submit" %>
  </div>
<% end %>
